body {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*browser compatibility support*/
a:focus {
    outline: none;
}

input[type="text"] {
    -webkit-appearance: none;
    border-radius: 0;
}

.knockout-container {
	font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 140%;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url('images/back.png');
}

.knockout-container-header {
	position: absolute;
    background: #303030;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 60px;
    top: 0;
    left: 0;
    z-index: 6;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.knockout-container-title {
	color: #0383df;
    font-size: 100px;
    font-weight: 700;
    width: 720px;
    margin-left: -340px;
    left: 50%;
    position: center;
}

.knockout-container-content {
    display: table-cell;
    min-height: 100%;
    background-color: #fff;
    border-left: 1px solid #c6c6c6;
    width: 720px;
    vertical-align: top;
    margin-left: -360px;
    left: 50%;
    position: absolute;
}

.knockout-container-content-padded {
    position: relative;
    padding: 50px 0 74px;
}
